html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body, 
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family:helvetica, arial, sans-serif;
}
.grid-container{
  dispalay: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  gride-area: header;
  background-color:#203040;
  color:#ffffff;
  dispalay: flex;
  text-items: center;
  padding: .5rem;
}
a:hover{
  color: #ff8000;
}
header a{
  color: #ffffff;
  text-decoration: none;
}
main{
  gride-area: main;
  height: 100%;
}
footer{
  gride-area: footer;
  background-color:#203040;
  color:#ffffff;
  dispalay: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
